

.container{	
	height:100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 1fr 60px;
}

.formArea{
	padding: 40px;	
	justify-self: center;
	align-self: center;
	grid-column: 1/-1;
	grid-row:2/3;
}

.formWindow{
	text-align: center;
	margin: 50px;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	padding: 20px 40px 40px 20px;	
	-webkit-box-shadow: 10px -4px 28px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px -4px 28px -10px rgba(0,0,0,0.75);
	box-shadow: 10px -4px 28px -10px rgba(0,0,0,0.75);
}

.inputs>div{
width: 100%;
display: grid;
grid-template-columns: 1fr 2fr 2fr;	
padding: 20px 15px;
border-bottom:1px solid black; 
}

.inputs>div:first-child{
margin-top: 30px; 	
}
.inputs>div:last-child{
border-bottom: none;
}
.inputs>div>i{
justify-self: start;
grid-column: 1/2;	
margin-right: 15px;	
}


.inputs>div>.Labels{
justify-self: start;
grid-column: 2/3;		
}

.inputs>div.addInput{
justify-self: start;
grid-column: 3/-1;	
	
}

.inputs>div>.Buttons{
margin-top: 30px;
grid-column: 1/-1;	
justify-self: space-between;
}

.inputs>div>.Buttons>button{
width:30%;
}
.inputs>div>.Buttons>button:first-child
{
margin-right:15%;	
}
