
.icon-money:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-tags:before { content: '\e802'; } /* '' */
.icon-down-dir:before { content: '\e803'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */